snippet img "Picture inclusion" b
image::${1:filename}.png[]
$0

endsnippet

snippet src "Source code block" b
[source,${1:java}]
----
$0
----

endsnippet

snippet plant "UML diagram block" b
[plantuml,${1:filename},${2:png}]
....
$0
....

endsnippet

